.film-nadpis {
    color: var(--visited-link);
    font-size: xx-large;
    font-weight: bold;
}

.span-typ {
    color: var(--visited-link);
}

.span-obsah {
    color: var(--link);
}

.trailer {
}

.trailer iframe {
    width: 950px;
    aspect-ratio: 16/9;
}

.galerie {
    width: 980px;
    aspect-ratio: 16/9;
    align-items: center;
}

.galerie img {
    width: 485px;
    aspect-ratio: 16/9;
}