.film-nadpis {
    color: var(--visited-link);
    font-size: xx-large;
    font-weight: bold;
}

.obsah {
    h3 {
        font-size: x-large;
        font-weight: bold;
        color: var(--visited-link)
    }
    p {
        color: var(--link)
    }
}

.span-typ {
    color: var(--visited-link);
}

.span-obsah {
    color: var(--link);
}

.trailer {
    display: flex;
    justify-content: center;
}

.trailer iframe {
    width: 950px;
    aspect-ratio: 16/9;
}

.galerie {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2px;
    border-radius: 3px;
    gap: 3px 3px;
}

.galerie img {
    width: 485px;
    aspect-ratio: 16/9;
    flex: 1;
}