:root {
    --background: hsla(226, 60%, 10%, 1);
    --visited-link: hsla(218, 100%, 16%, 1);
    --hover-link: hsla(209, 95%, 24%, 1);
    --link: hsla(193, 80%, 35%, 1);
    --normal-text: hsla(20, 60%, 99%, 1);

    background-image: url("../img/bg-sky.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;

    color: var(--normal-text);
}

a {
    color: var(--link);
}

a:hover {
    color: var(--hover-link)
}

a:visited {
    color: var(--link)
}

body {
    width: 1000px;
    background-color: var(--background);
    justify-content: center;
    margin: 0 auto;
    padding: 10px;
}

.zahlavi {
    padding: 5px;
    text-align: center;

    a {
        text-decoration: none;
    }
}

header {
    display:flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    margin: auto auto 20px;
}

header h1 {
    display: inline;
    font-size: 5em;
    margin: auto auto auto 0.1em;
    white-space: nowrap;
}

header img {
    height: 5em;
    margin-right: 0.2em;
    margin-left: auto;
}

nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: var(--visited-link);
    padding: 2px
}
nav a {
    width: auto;
    font-size: 1.2em;
    margin: 0.2em;
    padding: 2px 30px;
    background-color: hsla(218, 100%, 18%, 1);
    text-decoration: none;
    flex: 1;
}

nav a:hover {
    background-color: hsla(218, 100%, 15%, 1);
}

footer {
    display: flex;

    p {
        margin: auto;
    }
}

hr {
    margin-top: 50px;
}