@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:wght@400;700&display=swap');


:root {
    --background: #1F2933; /* Dark slate background */
    --visited-link: #62fff1; /* Soft teal for visited links */
    --hover-link: #FF6B6B; /* Vibrant coral for hover states */
    --link: #38B2AC; /* Calming turquoise for primary links */
    --normal-text: #E8E8E8; /* Light gray for text */

    background-color: #020d17;
    background-image: url("../img/bg-sky.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: fixed;

    color: var(--normal-text);
}

a {
    color: var(--link);
}

a:hover {
    color: var(--hover-link)
}

a:visited {
    color: var(--visited-link)
}

body {
    width: 1000px;
    background-color: var(--background);
    justify-content: center;
    margin: 0 auto;
    padding: 10px;

    font-family: "Roboto", serif;
    font-weight: 400;
    font-style: normal;

    h2, h3, h4, h5, h6 {
        font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
    }
}

.zahlavi {
    padding: 5px;
    text-align: center;

    a {
        text-decoration: none;
    }
}

header {
    display:flex;
    justify-content: center;
    align-items: center;
    margin: auto auto 20px;
}

header h1 {
    display: inline;
    font-size: 5em;
    margin: auto auto auto 0.1em;
    white-space: nowrap;

    font-family: "DynaPuff", system-ui;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
    font-variation-settings:
            "wdth" 100;
}

header img {
    height: 5em;
    margin-right: 0.2em;
    margin-left: auto;
}

nav {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    flex-direction: row;
    background-color: #3B4351; /* Subtle dark gray for navigation */
    padding: 2px;
    border-radius: 3px;
}
nav a {
    width: auto;
    font-size: 1.2em;
    margin: 0.2em;
    padding: 2px 30px;
    background-color: var(--link); /* Teal background for links */
    color: #1F2933; /* Dark text for contrast */
    text-decoration: none;
    flex: 1;
    border-radius: 5px;
}

nav a:hover {
    background-color: var(--hover-link); /* Orange hover */
    color: #1F2933; /* Maintain dark contrast text */
}

#nyni-v-kine h2 {
    /* TODO: nejsou uprostred tak jak by meli byt */
    text-align: center;
    font-size: 2em;
}

#nyni-v-kine .velky-film img {
    aspect-ratio: 3/4;
    object-fit: cover;
}

#nyni-v-kine .maly-film img {
    aspect-ratio: 4/3;
    object-fit: cover;
}

footer {
    display: block;
    text-align: center;

    p {
        margin: auto;
        white-space: nowrap;
    }
}

hr {
    margin-top: 50px;
    border: 1px solid var(--link); /* Teal horizontal line */
}